<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="#">
		<title>CIS*3210 Lab 1</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/cover.css" rel="stylesheet">
		<link href="/css/clippy.css" rel="stylesheet" type="text/css" media="all">
		<link href="/css/custom.css" rel="stylesheet">
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>

		<script src="/js/init.js"></script>
	</head>

	<body>

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">

          <div id= "#div-buttons"><h4>Click The Buttons!</h4></div>
					<div class="inner cover">
						<h1 class="cover-heading">CIS*3210 Lab 1</h1>
			<div id="welcome"></div>
            <form id="login" class="form-login" role="form">
            <input type="text" name="username" class="textbox" id="user" placeholder="username" />
						<br>
						<input type="password" name="password" class="textbox"  id="passwd" placeholder="password" />
		        		<br>

						<input type="button" value="submit" id="submit-button" />
					</form>
						<input type="button"  value="logout" style="display: none" id="logout-button" />

            <br>
			<div id="button-group">

            <a href="#" id="get-button" class="btn btn-lg btn-info">Get</a>

            <a href="#" id="post-button" class="btn btn-lg btn-info">Post</a>

				<a href="#" id="put-button" class="btn btn-lg btn-info">Put</a>

				<a href="#" id="delete-button" class="btn btn-lg btn-info">Delete</a>
	       </div>
					</div>
				</div>
			</div>
		</div>






    <footer>
      <p>Student Name: Yajing Huang -- Student ID Number: 1008239</p>
    </footer>



	</body>

</html>
