<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>疫情追踪</title>
    <script src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/echarts-all-3.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/china.js"></script>
    <script src="../static/js/world.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" rel="stylesheet">
</head>
<body>
    <div id="title">全国疫情大数据可视化</div>
    <div id="time">我是时间</div>
    <div id="l1">我是左1</div>
    <div id="l2">我是左2</div>
    <div id="c1">
        <div class="num"><h1>123</h1></div>
        <div class="num"><h1>123</h1></div>
        <div class="num"><h1>123</h1></div>
        <div class="num"><h1>123</h1></div>
        <div class="txt"><h2>累计确诊</h2></div>
        <div class="txt"><h2>累计治愈</h2></div>
        <div class="txt"><h2>累计死亡</h2></div>
        <div class="txt"><h2>现存确诊</h2></div>

    </div>
    <div id="c2">大屏中间第二幅图——中国疫情地图</div>
    <div id="r1">大屏右侧第一幅图——全球确诊top5国家</div>
    <div id="r2">大屏中间第二幅图——世界疫情地图</div>
    <script src="../static/js/ec_c2.js"></script>
    <script src="../static/js/controller.js"></script>
    <script src="../static/js/ec_l1.js"></script>
    <script src="../static/js/ec_l2.js"></script>
    <script src="../static/js/ec_r1.js"></script>
    <script src="../static/js/ec_r2.js"></script>
</body>
</html>