body{
    margin: 0;
    background: #333;
}
#title{
    position: absolute;
    width: 40%;
    height: 10%;
    top: 0;
    left: 30%;
    background: #333333;
    color: white;
    font-size: 30px;
    /*居中分布*/
    display: flex;
    align-items: center;
    justify-content: center;
}
#time{
    position: absolute;
    color: white;
    width: 30%;
    height: 10%;
    top: 0;
    right: 0;
}

/*数字显示*/
.num{
    width: 25%;
    float: left;
    color: gold;
    font-size: 20px;
    /*居中分布*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt{
    width: 25%;
    float: left;
    color: white;
    font-family: "幼圆";
    /*居中分布*/
    display: flex;
    align-items: center;
    justify-content: center;
}
#l1{
    position: absolute;
    width: 30%;
    height: 45%;
    top: 10%;
    left: 0%;
    background: #123456;
}
#l2{
    position: absolute;
    width: 30%;
    height: 45%;
    top: 55%;
    left: 0%;
    background: #234567;
}
#c1{
    position: absolute;
    width: 40%;
    height: 30%;
    top: 10%;
    left: 30%;
    background: #333333;
}
#c2{
    position: absolute;
    width: 40%;
    height: 60%;
    top: 40%;
    left: 30%;
    background: #888888;
}
#r1{
    position: absolute;
    width: 30%;
    height: 45%;
    top: 10%;
    right: 0%;
    background: #666666;
}
#r2{
    position: absolute;
    width: 30%;
    height: 45%;
    top: 55%;
    right: 0%;
    background: #666666;
}